<nav class="navbar bg-primary">
  <div class="container">
    <h3 class="text-light">
      <a href="/" class="text-light text-decoration-none">Ask&Answer.com</a>
    </h3>
    <button class="btn btn-light">
      <a class="text-primary text-decoration-none" href="/new-ask">Perguntar</a>
    </button>
  </div>
</nav>
